/*Simple reset*/
* {margin: 0; padding: 0;}

body {
	/*You can use any kind of background here.*/
	/*background: #6b92b9; */
	background-image: url("nature.png");
	background-size: 90%;
}
canvas {
	display: block;
}


input[type="text"]
{
    background: transparent; 
}

#left-panel {
overflow: auto;
z-index:3;
  width: 300px;
  height: 10px;
  font-size: 25px;
  border: 5px solid red;
  background-color: #fcc;
  position: fixed;
  top: 150px;
  left: -310px;
  border-radius: 0 1em 1em 0;
  padding: 5px;
  word-wrap: break-word; 
  -webkit-transition: all 0.5s ease-in-out;
}

#left-panel:hover {
  left: 0px;
  height: 400px;
}

#left-panel.show {
  left: -5px;
}
#left-panel .controller {
  position: absolute;
  right: 0px;
  top: 0px;
  text-decoration: none;
}

#left-panel a.controller {
  position: absolute;
  right: 5px;
  top: 5px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
}

#left-panel.show a.controller {
  -webkit-transform: rotate(180deg);
}